body {
    background-color: rgb(33, 32, 46);

    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
}

a {
    color: rgb(203, 245, 255);
}

.NavBar {
    background-color: rgb(89, 105, 187);
    padding: 14px 16px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 111%;
    text-align: left;
}

.CenterContents {
    margin: 0%;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);

    text-align: center;
}

.SlightMargin {
    margin: 3%;
}

.Column {
    float: left;
    width: 50%;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}